
@model ML.Cine

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>

    <div class="container">
        <div class="Row">
            <div class="text-center">
                <h2>Cines</h2>
            </div>
        </div>
        <div class="Row">
            <div class="col-md-12">
                <h5>Seleccione un Cine para editarlo, modificarlo...</h5>
                <hr />
            </div>
        </div>
    </div>
    <section>
        <div style="float: right;">
            @Html.ActionLink("Agregar", "Form", "Map", htmlAttributes: new { @class = "btn btn-info bi bi-person-plus-fill" })
        </div>

    </section>

    <hr />
    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr class="table-secondary">
                <td class="text-center" style="font-weight:bold;">Editar</td>
                <td style="display:none;">Id</td>
                <td class="text-center" style="font-weight:bold;">Nombre</td>
                <td class="text-center" style="font-weight:bold;">Direccion</td>
                <td class="text-center" style="font-weight:bold;">Ventas</td>
                <td class="text-center" style="font-weight:bold;">Eliminar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Cine Depa in Model.Cines)
            {
                <tr>
                    <td style="text-align:center;vertical-align:middle;">
                        <a class="btn btn-warning"
                       href="@Url.Action("GetById", "Map", new {IdCine=Depa.IdCine})">
                            <i class="bi bi-pencil-square"></i>Ver
                        </a>
                    </td>
                    <td>@Depa.Nombre</td>

                    <td>@Depa.Direccion</td>
                    <td>@Depa.Ventas</td>
                    <td style="text-align:center; vertical-align:middle;">
                        <a class="btn btn-danger bi bi-trash-fill" href="@Url.Action("Delete","Map",new {IdCine=Depa.IdCine})"
                       onclick="return confirm('Estas seguro de que deseas eliminar el Cine? ');">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


   
   

</body>
</html>




